USE [master]
GO
/****** Object:  Database [DB_MASGLOBAN]    Script Date: 5/05/2020 10:23:28 p. m. ******/
CREATE DATABASE [DB_MASGLOBAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_MASGLOBAN', FILENAME = N'C:\Users\erick\DB_MASGLOBAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_MASGLOBAN_log', FILENAME = N'C:\Users\erick\DB_MASGLOBAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MASGLOBAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MASGLOBAN]
GO
USE [DB_MASGLOBAN]
GO
/****** Object:  User [usrv_masGloban]    Script Date: 5/05/2020 10:23:29 p. m. ******/
CREATE USER [usrv_masGloban] FOR LOGIN [usrv_masGloban] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usrv_masGloban]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 5/05/2020 10:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[ID] [int] NOT NULL,
	[IDENTIFICACION] [int] NULL,
	[NOMBRE] [nchar](50) NULL,
	[APELLIDO] [nchar](50) NULL,
	[TIPOCONTRATO] [int] NULL,
	[CELULAR] [int] NULL,
	[SALARY] [float] NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOCONTRATO]    Script Date: 5/05/2020 10:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOCONTRATO](
	[ID] [int] NOT NULL,
	[TIPOCONTRATO] [nchar](50) NULL,
 CONSTRAINT [PK_TIPOCONTRATO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULT_EMPLOYEES]    Script Date: 5/05/2020 10:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,ERICK DUVAN SOTO DIAZ>
-- Create date: <Create Date,,05/05/2020>
-- Description:	<Description,,>
-- =============================================
-- EXECUTE SP_CONSULT_EMPLOYEES 0,0
CREATE PROCEDURE [dbo].[SP_CONSULT_EMPLOYEES]
	-- Add the parameters for the stored procedure here
	@CEDULA INT,
	@INDICADOR INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @INDICADOR =0
	BEGIN
	SELECT CONVERT(numeric,IDENTIFICACION)IDENTIFICACION,
	       NOMBRE,
		   APELLIDO,
		   CONVERT (numeric,CELULAR)CELULAR,
		   C.TIPOCONTRATO,
		   (CASE WHEN C.ID=1 THEN CONVERT(numeric,(E.SALARY *12))
		        WHEN  C.ID=2 THEN  CONVERT(numeric,(120* E.SALARY * 12))END) AS SALARY_CONTRACT
	FROM [dbo].[EMPLOYEES] E INNER JOIN TIPOCONTRATO C
	ON E.TIPOCONTRATO=C.ID
	END
	IF @INDICADOR=1
	BEGIN
	SELECT CONVERT(numeric,IDENTIFICACION)IDENTIFICACION,
	       NOMBRE,
		   APELLIDO,
		   CONVERT (numeric,CELULAR)CELULAR,
		   C.TIPOCONTRATO,
		    (CASE WHEN C.ID=1 THEN CONVERT(numeric,(E.SALARY *12))
		        WHEN  C.ID=2 THEN  CONVERT(numeric,(120* E.SALARY * 12))END) AS SALARY_CONTRACT
	FROM [dbo].[EMPLOYEES] E INNER JOIN TIPOCONTRATO C
	ON E.TIPOCONTRATO=C.ID WHERE IDENTIFICACION=@CEDULA
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TYPE_CONTRACT]    Script Date: 5/05/2020 10:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,ERICK DUVAN SOTO DIAZ>
-- Create date: <Create Date,,05/05/2020>
-- Description:	<Description,,TIPOS DE CONTRATO>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TYPE_CONTRACT]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TIPOCONTRATO 
	FROM [dbo].[TIPOCONTRATO]
END
GO
USE [master]
GO
